<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Equipos</title>
<link rel="stylesheet" href="css/estilos.css"/>
</head>
<body>
	<div id="contenedor">
		<header>
			<div id="imagenEncabezado"><img id="imgCabecera" alt="" src="img/img-encabezado.png"></div>
			<div id="textoEncabezado"><h1>Liga de Futbol Profesional</h1></div>
		</header>
		<nav>
			<ul>
				<li><a href="Index.html">Home</a></li>
				<li><a href="fixture.html">Fixture y Resultados</a></li>
				<li><a id="pagina" href="equipos.html">Equipos</a></li>
			</ul>
		</nav>
		<section>
			<div class="Descripcion">
			<img alt="" src="img/img-arsenal.jpg">
			<p>El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
			 <br>
			 El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994</p>
			</div>
			<div class="Descripcion">
			<img alt="" src="img/img-boca.jpg">
			<p>El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
			 <br>
			 El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994</p>
			</div>
			<div class="Descripcion">
			<img alt="" src="img/img-river.jpg">
			<p>El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
			 <br>
			 El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994</p>
			</div>
			<div class="Descripcion">
			<img alt="" src="img/img-racing.jpg">
			<p>El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
			 <br>
			 El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994</p>
			</div>
			<div class="Descripcion">
			<img alt="" src="img/img-sanLorenzo.jpg">
			<p>El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
			 <br>
			 El Arsenal Football Club es un club de fútbol profesional con sede en Holloway, Londres, Inglaterra, 
			 que juega en la máxima categoría del fútbol de ese país, la Premier League. Uno de los más laureados del fútbol inglés, 
			 ha ganado 43 títulos en su país, incluyendo 13 campeonatos de liga y un récord de 13 Copas de Inglaterra; 
			 también ha ganado dos títulos internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994</p>
			</div>
		</section>
		<aside>
			
			<h4 class="titulo">Auspiciantes</h4>
			
			<div id="auspiciantes">
				<a href="https://www.adidas.com.ar"><img class="auspiciante" alt="" src="img/img-adidas.jpg"></a>
				
				<a href="https://www.macro.com.ar"><img class="auspiciante" alt="" src="img/img-macro.jpg"></a>
				
				<a href="https://www.fravega.com"><img class="auspiciante" alt="" src="img/img-chevrolet.jpg"></a>
				
				<a href="https://www.chevrolet.com.ar"><img class="auspiciante" alt="" src="img/img-fravega.jpg"></a>
			</div>
		</aside>
		<footer>
			<p>Avda.Pedro Ortiz de Zarate N° 455 - Tel 038884789555 
			<img class="redSocial" alt="" src="img/img-facebook.jpg">
			<img class="redSocial" alt="" src="img/img-twitter.jpg">
			<img class="redSocial" alt="" src="img/img-instagram.jpg">
			</p>
		</footer>
	</div>
	
</body>
</html>